/*Schrijf hier jouw eigen CSS!*/
.header {
    display: flex;
    flex-direction: column;
    align-items: center;}

.overall-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    max-height: 80%;
}

.poke-main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border: orange dotted 2px;
    background-color: goldenrod;
    width: 85%;
}

.button {
    border: #747bff dotted 2px;
    background-color: mintcream;
    color: #747bff;
    disabled: false;
}

.button button:disabled {
    background-color: grey;
    color: white;
    cursor: not-allowed;
}


/*
.pokemon-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 40px;
}
*/
